# DATABASE CONFIGURATION
DATABASE_URL=mysql://username:password@host:port/database-name

# WEB SERVER CONFIGURATION
## The port you want the web server to run on.
WEB_SERVER_PORT=3000
## The base URL for the backend API
WEB_SERVER_BASE_URL=http://localhost
